In [1]:
import os
import time
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
msh = pd.read_csv('Mass Shootings Dataset Ver 5.csv', encoding='latin1')

In [2]:
display(msh.head())

,S#,Title,Location,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Texas church mass shooting,"Sutherland Springs, TX",11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,...,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
1,2,Walmart shooting in suburban Denver,"Thornton, CO",11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,...,3,0.0,47,NaN,NaN,No,White,M,NaN,NaN
2,3,Edgewood businees park shooting,"Edgewood, MD",10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,...,6,0.0,37,NaN,Advance Granite Store,No,Black,M,NaN,NaN
3,4,Las Vegas Strip mass shooting,"Las Vegas, NV",10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,...,585,1.0,64,NaN,NaN,Unclear,White,M,36.181271,-115.134132
4,5,San Francisco UPS shooting,"San Francisco, CA",6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,...,5,0.0,38,1.0,NaN,Yes,Asian,M,NaN,NaN

In [3]:
print(msh.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S#                    323 non-null    int64
 1   Title                 323 non-null    object
 2   Location              278 non-null    object
 3   Date                  323 non-null    object
 4   Incident Area         261 non-null    object
 5   Open/Close Location   295 non-null    object
 6   Target                318 non-null    object
 7   Cause                 246 non-null    object
 8   Summary               323 non-null    object
 9   Fatalities            323 non-null    int64
 10  Injured               323 non-null    int64
 11  Total victims         323 non-null    int64
 12  Policeman Killed      317 non-null    float64
 13  Age                   179 non-null    object
 14  Employeed (Y/N)       67 non-null     float64
 15  Employed at           41 non-null     object
 16  Mental Health Issues  323 non-null    object
 17  Race                  321 non-null    object
 18  Gender                323 non-null    object
 19  Latitude              303 non-null    float64
 20  Longitude             303 non-null    float64
dtypes: float64(4), int64(4), object(13)
memory usage: 53.1+ KB
None

In [4]:
msh.describe()

,S#,Fatalities,Injured,Total victims,Policeman Killed,Employeed (Y/N),Latitude,Longitude
count,323.000000,323.000000,323.000000,323.000000,317.000000,67.000000,303.000000,303.000000
mean,162.000000,4.436533,6.176471,10.263158,0.129338,0.626866,37.225076,-94.429539
std,93.386294,5.783208,29.889182,33.662309,0.610294,0.487288,5.536365,16.513296
min,1.000000,0.000000,0.000000,3.000000,0.000000,0.000000,21.325512,-161.792752
25%,81.500000,1.000000,1.000000,4.000000,0.000000,0.000000,33.571459,-110.205485
50%,162.000000,3.000000,3.000000,5.000000,0.000000,1.000000,36.443290,-88.122998
75%,242.500000,5.500000,5.000000,9.000000,0.000000,1.000000,41.483844,-81.703237
max,323.000000,59.000000,527.000000,585.000000,5.000000,1.000000,60.790539,-69.707823

In [6]:
gender = msh[['Gender']]
print(gender)

    Gender
0        M
1        M
2        M
3        M
4        M
..     ...
318   Male
319   Male
320   Male
321   Male
322   Male

[323 rows x 1 columns]

In [11]:
print(gender[gender['Gender'].type())

object

In [17]:
print (gender[gender['Gender'].apply(type) == type(2)])

Empty DataFrame
Columns: [Gender]
Index: []